@import "./variable";
.solid {
    background-color: ($primary);
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:($rem + 4px)*5;
}

h2 , h3 , ul{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



p {
    font-size:100%;
}

#imagen_luz , #arbol , #ciclo_agua{
    width: 400px;
    height: 300px; }

    
      

#logo {
    background-color: ($title);
    border-radius: ($radius);
}    

#first_button {
    background-color: ($secondary);
    border-radius: ($radius);
}

